:root {
    --bg-color: #f4f3f2;
    --secondary-color: #2a293b;
    --link-color: #ffc53f;
    --link-active-color: #363543
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 120px;
    background-color: var(--bg-color);
    font-family: 'Open Sans';
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    margin: 1rem 0;
}

span {
    display: block;
}

video,
audio,
img,
iframe {
    border: none;
    width: 100%;
    object-fit: contain;
    padding-top: 3rem;
    height: 90%;
}

/* ---- NAVIGATION ---- */
header {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 5px 0 gray;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--link-color);
    font-size: 1.5rem;
    padding: 1.5rem;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    overflow: hidden;
    max-height: 0;
    display: block;
}

.nav ul li {
    background-color: var(--secondary-color);
    display: block;
}

.nav li a.active {
    background-color: var(--link-active-color);
    text-decoration: underline;
}

.nav li a:hover:not(.active) {
    background-color: var(--link-active-color);
}

.menu li a {
    display: block;
    color: var(--link-color);
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
}

.nav ul {
    list-style: none;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--link-color);
    display: block;
    height: 5px;
    position: relative;
    width: 30px;
    border-radius: 20%;
    transition: all .4s ease-in-out;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--link-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 20%;
}

.hamb-line::before {
    top: 10px;
}

.hamb-line::after {
    top: -10px;
}

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
    top: 85px;
    transition: all 1s ease;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
    transition: all .3s ease;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
    transition: all .3s ease;
}

.side-menu {
    display: none;
}

/* ---- MAIN CONTENT ---- */
main {
    display: grid;
    width: 100%;
    margin: 7rem auto;
    align-content: center;
    gap: 2rem;
}

ul li ul {
    padding: 0 1rem;
}

table th,
td {
    margin: 0 auto;
    padding: .5rem;
    text-align: left;
}



/* Cards with different spans */
.card {
    box-shadow: 0 3px 5px 5px #dbdbdb;
    border-radius: 1.5rem;
    padding: 1.5rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: #f2f2f2;
}

div.card.half-span-right ul>li>ol {
    padding: 0 2rem;
}

.card.full-span.background-defqon {
    background-image: url("/images/defqon1.png");
    background-position: center;
    background-size: contain;
    height: 223px;
    border: 3px solid black;
}

.card.full-span.background-bangkok {
    background-image: url("/images/bangkok.jpeg");
    height: 262px;
    background-position: center;
    background-size: contain;
}

.card.half-span-left.background-me {
    background-image: url("/images/me.jpeg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.card.half-span-left.background-me figcaption {
    background-color: rgba(190, 190, 190, 0);
    color: rgb(255, 255, 255);
    padding: .5rem;
    width: 80%;
    border-radius: .7rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0 4px 8px;
    backdrop-filter: blur(10px) saturate(200%);
    font-size: 1.3rem;
    align-self: flex-end;
}

.border {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--link-color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    border-bottom: 4px solid var(--link-color);
    box-shadow: 0 5px 4px 0 rgb(214, 214, 214);
}

.space {
    margin-top: 3.5rem;
}

/* Styling form, event page */
a.application-link {
    text-align: center;
    text-decoration: underline;
}

form#application {
    height: 750px;
}

#application input select,
fieldset,
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: .7rem;
    border: 1px solid rgb(180, 180, 180);
}

#application fieldset {
    padding: .5rem;
    border: 1px solid rgb(180, 180, 180)
}

#application input[type="checkbox"],
input[type="radio"] {
    margin: 0 .5rem;
}

#application>input {
    width: 30%;
    padding: .7rem;
    float: right;
    margin: 0 0 1rem 1rem;
    border: none;
    border-radius: 10rem;
    color: var(--link-color);
    background-color: var(--secondary-color);
}

#application>input:hover {
    background-color: var(--link-color);
    color: var(--secondary-color)
        /* border: 3px solid var(--link-color); */

}

#letter {
    width: 100%;
    height: 8rem;
    border: 1px solid rgb(180, 180, 180);

}

/* Styling gallery, media page */
div.gallery .image-list img {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    object-fit: cover;
    padding: 0;
}

div.image-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.lbl-toggle {
    color: var(--link-color);
    display: block;
    font-size: 1.2rem;
    transition: all 0.25s ease-out;
    border-radius: 1rem 1rem 0 0;
}

.gallery input[type="checkbox"] {
    display: none;
}

div.flags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

div.flag-info {
    width: 100%;
    height: 200px;
    margin: 2rem 0;
    border: 1px solid #b5b5b5;
}

div.usa {
    width: 400px;
    height: 200px;
    background: rgb(179, 25, 66);
    background: linear-gradient(0deg, rgba(179, 25, 66, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 16%, rgba(179, 25, 66, 1) 16%, rgba(179, 25, 66, 1) 24%, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 1) 31%, rgba(179, 25, 66, 1) 31%, rgba(179, 25, 66, 1) 39%, rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 46%, rgba(179, 25, 66, 1) 46%, rgba(179, 25, 66, 1) 54%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 61%, rgba(179, 25, 66, 1) 61%, rgba(179, 25, 66, 1) 69%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 76%, rgba(179, 25, 66, 1) 76%, rgba(179, 25, 66, 1) 84%, rgba(255, 255, 255, 1) 84%, rgba(255, 255, 255, 1) 92%, rgba(179, 25, 66, 1) 92%, rgba(179, 25, 66, 1) 100%);
    position: relative;
    box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.24);
    border: 2px solid black;
}

.blue-square {
    width: 40%;
    height: 54%;
    background-color: #0a3161;
    position: absolute;
    top: 0;
    left: 0;
}

div.six-star {
    display: flex;
    justify-content: space-around;
    height: 10%;
    position: relative;
    bottom: 0.2rem
}

div.five-star {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 85%;
    margin: auto;
    position: relative;
    bottom: 0.2rem
}

div.star {
    color: white;
}

div.uk {
    background-color: #23305d;
    width: 400px;
    height: 200px;
    position: relative;
    box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.24);
    border: 2px solid black;
    overflow: hidden;
    opacity: 100%;
}

.red-horizontal {
    background-color: #c8142f;
    width: 101%;
    height: 20%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.red-vertical {
    background-color: #c8142f;
    height: 200px;
    width: 12%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.white-box-up-left {
    width: 50%;
    height: 98px;
    border: 15px solid #ffffff;
    position: absolute;
    top: -18px;
    left: -19.5px;
    z-index: 1;
}

.white-box-up-right {
    width: 50%;
    height: 98px;
    border: 15px solid #ffffff;
    position: absolute;
    right: -20px;
    top: -18px;
    z-index: 1;
}

.white-box-down-left {
    width: 50%;
    height: 98px;
    border: 15px solid #ffffff;
    position: absolute;
    right: -20px;
    bottom: -17px;
    z-index: 1;
}

.white-box-down-right {
    width: 50%;
    height: 98px;
    border: 15px solid #ffffff;
    position: absolute;
    left: -19px;
    bottom: -17px;
    z-index: 1;
}

.white-cross-up-down {
    background-color: #ffffff;
    width: 460px;
    height: 20%;
    position: absolute;
    transform: rotate(26.5deg);
    left: -30px;
    top: 40%;
}

.white-cross-down-up {
    background-color: #ffffff;
    width: 460px;
    height: 20%;
    position: absolute;
    top: 40%;
    left: -30px;
    transform: rotate(-26.5deg);
}

.red-line-up-left {
    background-color: #c8142f;
    width: 160px;
    height: 33%;
    position: absolute;
    top: 20px;
    left: 0px;
}

.red-line-up-right {
    background-color: #c8142f;
    width: 160px;
    height: 33%;
    position: absolute;
    bottom: 20px;
    right: 0;
}

.red-line-down-left {
    background-color: #c8142f;
    width: 180px;
    height: 33%;
    position: absolute;
    top: 20px;
    left: 5px;
}

.red-line-down-right {
    background-color: #c8142f;
    width: 180px;
    height: 33%;
    position: absolute;
    bottom: 20px;
    right: 5px;
}

/* ---- FOOTER ---- */
footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--link-color);
    padding: .5rem;
    position: fixed;
    bottom: 0;
}

@media screen and (min-width: 500px) {

    /* ---- NAVIGATION DESKTOP ---- */
    /* Neutraliserar viss css som gör att menyn har ingen bakgrund och max-height */
    header .nav {
        background-color: transparent;
        position: static;
        max-height: inherit;
        width: auto;
        height: auto;
        display: flex;

    }

    header div.nav-menu {
        display: flex;
        width: 1000px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    a.logo {
        padding: 0;
    }

    /* Döljer Hamburgermeny */
    .side-menu,
    .hamb {
        display: none;
    }

    /* använda sig av flex för att li items ska lägga sig bredvid och ta bort punkten */
    header .nav ul {
        display: flex;
        list-style: none;
    }

    .nav ul li:hover {
        background-color: transparent;
    }

    /* ---- MAIN CONTENT ---- */
    main {
        grid-template-columns: repeat(10, 1fr);
        width: 1000px;
    }

    h1 {
        grid-column: 1 / 11;
        width: 100%;
    }

    .source,
    figcaption {
        text-align: center;
    }

    .defqon-movie {
        height: 55%;
        margin-top: 1rem;
    }

    /* Cards, different spans on Desktop */
    .card.full-span {
        grid-column: 1 / 11;
        width: 100%;
        height: 100%;
    }

    .card.half-span-left {
        grid-column: 1 / 6;
        width: 100%;
    }

    .card.half-span-right {
        grid-column: 6 / 11;
        width: 100%;
    }

    .card.four-grid-span-left {
        width: 100%;
        grid-column: 1 / 5;
        height: 100%;
    }

    .card.four-grid-span-right {
        width: 100%;
        grid-column: 7 / 11;
    }

    .card.six-grid-span-left {
        grid-column: 1 / 7;
        width: 100%;
    }

    .card.six-grid-span-right {
        grid-column: 5 / 11;
        width: 100%;
        height: 100%;
    }

    .card.full-span.background-defqon {
        height: 566px;
    }

    .card.full-span.background-bangkok {
        height: 668px;
    }

    .card.half-span-left.background-me {
        height: 484px;
    }

    /* Animation on index page */
    .fade-in-top {
        opacity: 1;
        transform: translateY(0);
        animation: fade-in-top .5s ease-out;
    }

    .fade-in-left {
        opacity: 1;
        transform: translateX(0);
        animation: fade-in-left .5s ease-out;
    }

    .fade-in-right {
        opacity: 1;
        transform: translateX(0);
        animation: fade-in-right .5s ease-out;
    }

    a.application-link {
        width: 100%;
        grid-column: 1 / 11;
    }

    div.gallery {
        width: 100%;
    }

    div.image-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 1.5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
        border-radius: 0 0 .75rem .75rem;
        position: relative;
        z-index: 9;
    }

    div.gallery .image-list img {
        width: 210px;
        height: 210px;
        object-fit: cover;
        border-radius: .75rem;
    }

    div.gallery div.image-list img:hover {
        transform: scale(1.5);
        transition: .2s;
        box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.24);
    }

    div.gallery input[type="checkbox"] {
        display: none;
    }

    .lbl-toggle {
        cursor: pointer;
    }

    .lbl-toggle:hover {
        text-decoration: underline;
    }

    .lbl-toggle::before {
        content: '+';
        display: inline-block;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
    }

    .toggle:checked+.lbl-toggle {
        border-radius: 1rem 1rem 0 0;
        padding: 1rem;
    }

    .toggle:checked+.lbl-toggle+.image-list {
        margin-top: 3.8rem;
        width: 100%;
        max-height: 100%;
        overflow: visible;
    }

    div.flags {
        justify-content: space-evenly;
        align-items: center;
        border-radius: .5em;
        width: 100%;
    }

    div.flag-info {
        height: 200px;
        width: 40%;
        align-content: center;
        border: 1px solid #b5b5b5;
    }

    footer {
        padding: .75rem;
        margin: 0 auto;
    }

    .copyright {
        font-size: 1rem;
        width: 1000px;
        margin: 0 auto;
    }
}

@keyframes fade-in-top {
    0% {
        transform: translateY(-200px);
    }
}

@keyframes fade-in-left {
    0% {
        transform: translate(-200px, 200px);
        opacity: 0;
    }
}

@keyframes fade-in-right {
    0% {
        transform: translate(200px, 200px);
        opacity: 0;
    }
}