/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
    --white: #f9f9f9;
    --black: #36383F;
    --grey: #85888C;
}

/* ----- ROOT RESET ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ----- HEADER ------ */
header {
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--white);
    font-size: 1.5rem;
    padding: 0 20px;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a {
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover {
    background-color: var(--grey);
}

.nav {
    max-height: 0px;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--white);
    display: block;
    height: 5px;
    position: relative;
    width: 30px;
    border-radius: 20%;
    transition: all .2s ease-in-out;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 20%;
}

.hamb-line::before {
    top: 10px;
}

.hamb-line::after {
    top: -10px;
}

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 350px;
    top: 60px
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

.side-menu {
    display: none;
}


/* ----- RESPONSIVE ----- */

@media (min-width: 836px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 2rem;
    }

    .nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li {
        float: left;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--grey);
    }

    .hamb {
        display: none;
    }
}