:root {
    --bg-color: #f4f3f2;
    --secondary-color: #2a293b;
    --link-color: #ffc53f;
    --link-active-color: #363543
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 120px;
    background-color: var(--bg-color);
    font-family: 'Open Sans';
    font-weight: 400;
}

a {
    text-decoration: none;
}

article {
    margin-top: 3.5rem;
}

p {
    margin: 1rem 0;
}

span {
    display: block;
}

video,
audio,
img,
iframe {
    border: none;
    width: 100%;
    object-fit: cover;
    padding-top: 3rem;
    height: 90%;
}

/* ---- NAVIGATION ---- */
header {
    background-color: var(--secondary-color);
    box-shadow: 1px 1px 5px 0 gray;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Logo */
.logo {
    display: inline-block;
    color: var(--link-color);
    font-size: 1.5rem;
    padding: 1.5rem 1.3rem;
}

/* Nav menu */
.nav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    overflow: hidden;
    max-height: 0;
    display: block;
}

.nav ul li {
    background-color: var(--secondary-color);
    display: block;
}

.nav li a.active {
    background-color: var(--link-active-color);
    text-decoration: underline;
}

.nav li a:hover:not(.active) {
    background-color: var(--link-active-color);
}

.menu li a {
    display: block;
    color: var(--link-color);
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
}

.nav ul {
    list-style: none;
    padding: 0;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    padding: 0 1.3rem;
}


.hamb-line {
    background: var(--link-color);
    display: block;
    height: 5px;
    position: relative;
    width: 30px;
    border-radius: 20%;
    transition: all .4s ease-in-out;
}

.hamb-line::before,
.hamb-line::after {
    background: var(--link-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 20%;
}

.hamb-line::before {
    top: 10px;
}

.hamb-line::after {
    top: -10px;
}

/* Toggle menu icon */
.side-menu:checked~nav {
    max-height: 100%;
    top: 82px;
    transition: all 1s ease;
}

.side-menu:checked~.hamb .hamb-line {
    background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
    transition: all .3s ease;
}

.side-menu:checked~.hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
    transition: all .3s ease;
}

.side-menu {
    display: none;
}

/* ---- MAIN CONTENT ---- */
main {
    display: grid;
    width: 100%;
    margin: 7rem auto;
    align-content: center;
    gap: 2rem;
}

ul,
ol {
    padding: 0.1rem 1.5rem;
}

table th,
td {
    margin: 0 auto;
    padding: .5rem;
    text-align: left;
}

/* Cards with different spans */
.card {
    box-shadow: 0 3px 5px 5px #dbdbdb;
    border-radius: 1.5rem;
    padding: 1.5rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: #f2f2f2;
}

.card.full-span.background-defqon {
    background-image: url("../images/defqon1.png");
    background-position: center;
    background-size: cover;
    height: 223px;
    border: 3px solid black;
}

.card.full-span.background-bangkok {
    background-image: url("../images/bangkok.jpeg");
    height: 262px;
    background-position: center;
    background-size: cover;
}

.card.half-span-left.background-me {
    background-image: url("../images/me.jpeg");
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.card.half-span-left.background-me figcaption {
    background-color: rgba(190, 190, 190, 0);
    color: rgb(255, 255, 255);
    padding: .5rem;
    width: 80%;
    border-radius: .7rem;
    box-shadow: rgba(0, 0, 0, 0.75) 0 4px 8px;
    backdrop-filter: blur(10px) saturate(200%);
    font-size: 1.3rem;
    align-self: flex-end;
}

.border {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--link-color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    border-bottom: 4px solid var(--link-color);
    box-shadow: 0 5px 4px 0 rgb(214, 214, 214);
}

/* Styling form, event page */
a.application-link {
    text-align: center;
    text-decoration: underline;
}

form#application {
    height: 820px;
}

#application fieldset,
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: .7rem;
    margin: .2rem 0;
    border: 1px solid rgb(180, 180, 180);
}

#application input[type="checkbox"],
input[type="radio"] {
    margin: .2rem .5rem;
    zoom: 1.5;
    transform: scale(1.5);
    border: 1px solid black;
}

#application>input {
    width: 30%;
    padding: .7rem;
    float: right;
    margin: 0 0 1rem 1rem;
    border: none;
    border-radius: 10rem;
    color: var(--link-color);
    background-color: var(--secondary-color);
}

#application>input:hover {
    background-color: var(--link-color);
    color: var(--secondary-color);
}

#letter {
    width: 100%;
    height: 8rem;
    border: 1px solid rgb(180, 180, 180);
}

/* Styling gallery, media page */
div.gallery .image-list img {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;
    padding: 0;
}

div.image-list {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.lbl-toggle {
    color: var(--link-color);
    display: block;
    font-size: 1.2rem;
    transition: all 0.25s ease-out;
    border-radius: 1rem 1rem 0 0;
}

.gallery input[type="checkbox"] {
    display: none;
}

/* ---- FLAGS ---- */
div.flags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

div.flag-info {
    width: 100%;
    height: 200px;
    border: 1px solid #b5b5b5;
}

div.flag {
    width: 100%;
    height: 200px;
    border: 2px solid black;
    box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

/* USA flag */
div.usa {
    background: rgb(179, 25, 66);
    background: linear-gradient(0deg, rgba(179, 25, 66, 1) 8%, rgba(255, 255, 255, 1) 8%, rgba(255, 255, 255, 1) 16%, rgba(179, 25, 66, 1) 16%, rgba(179, 25, 66, 1) 24%, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 1) 31%, rgba(179, 25, 66, 1) 31%, rgba(179, 25, 66, 1) 39%, rgba(255, 255, 255, 1) 39%, rgba(255, 255, 255, 1) 46%, rgba(179, 25, 66, 1) 46%, rgba(179, 25, 66, 1) 54%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 61%, rgba(179, 25, 66, 1) 61%, rgba(179, 25, 66, 1) 69%, rgba(255, 255, 255, 1) 69%, rgba(255, 255, 255, 1) 76%, rgba(179, 25, 66, 1) 76%, rgba(179, 25, 66, 1) 84%, rgba(255, 255, 255, 1) 84%, rgba(255, 255, 255, 1) 92%, rgba(179, 25, 66, 1) 92%, rgba(179, 25, 66, 1) 100%);
    position: relative;
}

.blue-square {
    width: 40%;
    height: 54%;
    background-color: #0a3161;
    position: absolute;
    top: 0;
    left: 0;
}

div.six-star {
    display: flex;
    justify-content: space-around;
    height: 10%;
    position: relative;
    bottom: 0.3rem;
}

div.five-star {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 85%;
    margin: auto;
    position: relative;
    bottom: 0.3rem;
}

div.star {
    color: white;
    margin: auto;
    /* Maybe need to use scale to get stars correct size, depends on device */
    /* transform: scale(.7); */
}

/* UK flag */
div.uk {
    background-color: #23305d;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.red-horizontal {
    background-color: #c8142f;
    width: 10%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.red-vertical {
    background-color: #c8142f;
    height: 20%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
}

.white-box-up-left {
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.white-box-up-right {
    background-color: #ffffff;
    width: 70px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
}

.white-cross {
    background-color: #ffffff;
    width: 57%;
    height: 20%;
    position: absolute;
    z-index: 0;
}

.white-cross.left-up {
    transform: rotate(30deg);
    left: -23px;
    top: 12.5%;
    z-index: -1;
}

.white-cross.right-up {
    transform: rotate(-30deg);
    right: -23px;
    top: 12.5%;
    z-index: -1;
}

.white-cross.left-down {
    bottom: 11%;
    left: -23px;
    transform: rotate(-30deg);
    z-index: -1;
}

.white-cross.right-down {
    bottom: 11%;
    right: -23px;
    transform: rotate(30deg);
    z-index: -1;
}

.red-line {
    background-color: #c8142f;
    width: 100%;
    height: 33%;
    position: absolute;
}

.red-line.right {
    bottom: 20px;
}

.red-line.left {
    top: 20px;
}

/* Norway flag */
.norway {
    background-color: #bb042b;
    position: relative;
}

.white-line {
    background-color: #ffffff;
    position: absolute;
}

.horizontal-white {
    width: 100%;
    height: 70px;
    top: 50%;
    transform: translate(0, -50%);
}

.vertical-white {
    width: 70px;
    height: 100%;
    left: 30%;
}

.blue-line {
    background-color: #001a5b;
    position: absolute;
}

.horizontal-blue {
    width: 100%;
    height: 35px;
    top: 50%;
    transform: translate(0, -50%);
}

.vertical-blue {
    width: 35px;
    height: 100%;
    left: 35%;
}

.jamaica {
    background-color: #00a650;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    position: absolute;
}

.jamaica-left {
    border-left: 180px solid #231f20;
    top: 50%;
    transform: translate(0, -50%);
}

.jamaica-right {
    border-right: 180px solid #231f20;
    right: 0;
}

.yellow-line-left {
    background-color: #fef200;
    width: 25px;
    height: 470px;
    transform: rotate(-61deg);
    position: absolute;
    top: -120px;
    left: 190px
}

.yellow-line-right {
    background-color: #fef200;
    width: 25px;
    height: 470px;
    transform: rotate(61deg);
    position: absolute;
    top: -120px;
    right: 190px;
}

/* ---- FOOTER ---- */
footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--link-color);
    height: 40px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

.copyright {
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 500px) {

    /* ---- NAVIGATION DESKTOP ---- */
    /* Neutraliserar viss css som gör att menyn har ingen bakgrund och max-height */
    header .nav {
        position: static;
        max-height: inherit;
        width: auto;
        height: auto;
        display: flex;
    }

    header div.nav-menu {
        width: 1000px;
        margin: 0 auto;
    }

    div.logo {
        padding: 0;
    }

    /* Döljer Hamburgermeny */
    .side-menu,
    .hamb {
        display: none;
    }

    /* använda sig av flex för att li items ska lägga sig bredvid och ta bort punkten */
    header .nav ul {
        display: flex;
        padding: 0;
    }

    .nav ul li:hover {
        background-color: transparent;
    }

    /* ---- MAIN CONTENT ---- */
    main {
        grid-template-columns: repeat(10, 1fr);
        max-width: 1000px;
        width: 90%;
    }

    .source,
    figcaption {
        text-align: center;
    }

    /* Cards, different spans on Desktop */
    .card.full-span {
        grid-column: 1 / 11;
        width: 100%;
    }

    .card.half-span-left {
        grid-column: 1 / 6;
        width: 100%;
    }

    .card.half-span-right {
        grid-column: 6 / 11;
        width: 100%;
    }

    .card.four-grid-span-left {
        width: 100%;
        grid-column: 1 / 5;
    }

    .card.four-grid-span-right {
        width: 100%;
        grid-column: 7 / 11;
    }

    .card.six-grid-span-left {
        grid-column: 1 / 7;
        width: 100%;
    }

    .card.six-grid-span-right {
        grid-column: 5 / 11;
        width: 100%;
    }

    .card.full-span.background-defqon {
        height: 566px;
    }

    .card.full-span.background-bangkok {
        height: 668px;
    }

    .card.half-span-left.background-me {
        height: 484px;
    }

    /* Animation on index page */
    .fade-in-top {
        opacity: 1;
        transform: translateY(0);
        animation: fade-in-top .5s ease-out;
    }

    .fade-in-left {
        opacity: 1;
        transform: translateX(0);
        animation: fade-in-left .5s ease-out;
    }

    .fade-in-right {
        opacity: 1;
        transform: translateX(0);
        animation: fade-in-right .5s ease-out;
    }

    /* ---- EVENT PAGE ---- */
    a.application-link {
        width: 100%;
        grid-column: 1 / 11;
    }

    .defqon-movie {
        height: 55%;
        margin-top: 1rem;
    }

    /* ---- MEDIA PAGE / GALLERY ---- */
    div.gallery {
        width: 100%;
    }

    div.image-list {
        max-height: 0;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
        border-radius: 0 0 .75rem .75rem;
    }

    div.gallery .image-list img {
        width: 210px;
        height: 210px;
    }

    div.gallery div.image-list img:hover {
        transform: scale(1.5);
        transition: .2s;
        box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.24);
    }

    .lbl-toggle {
        cursor: pointer;
    }

    .lbl-toggle:hover {
        text-decoration: underline;
    }

    .lbl-toggle::before {
        content: '+';
        transform: translateY(-2px);
        transition: transform .2s ease-out;
    }

    .toggle:checked+.lbl-toggle+.image-list {
        margin-top: 3.8rem;
        width: 100%;
        max-height: 100%;
        overflow: visible;
    }

    /* ---- FLAGS PAGE ---- */
    div.flag {
        width: 400px;
    }

    div.flag-info {
        align-content: center;
        width: 400px;
    }

    div.star {
        transform: scale(1.2);
    }

    div.six-star,
    div.five-star {
        bottom: 0.4rem;
    }

    .jamaica-left {
        border-left: 200px solid #231f20;
    }

    .jamaica-right {
        border-right: 200px solid #231f20;
    }

    .yellow-line-left {
        height: 450px;
        transform: rotate(-64deg);
        top: -125px;
        left: 190px
    }

    .yellow-line-right {
        height: 450px;
        transform: rotate(64deg);
        top: -125px;
        right: 190px;
    }

    /* ---- FOOTER ---- */
    .copyright {
        font-size: 1rem;
        width: 1000px;
    }
}

/* ---- KEYFRAMES FOR ANIMATION ---- */
@keyframes fade-in-top {
    0% {
        transform: translateY(-200px);
    }
}

@keyframes fade-in-left {
    0% {
        transform: translate(-200px, 200px);
        opacity: 0;
    }
}

@keyframes fade-in-right {
    0% {
        transform: translate(200px, 200px);
        opacity: 0;
    }
}